@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root{
    scroll-behavior: smooth;
    height: 100%;
}

body {
    background-color: #d7e7f3;
    -webkit-font-smoothing: antialiased;
    padding: 60px 30px;
}
body, button, input {
    font-family: 'Roboto', sans-serif;
}

